.icon-menu{
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

button:hover {
  color: red;
  background-color: grey;
}

button:active {
  background-color: yellow;
}
