/*.mButton{
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}*/

.hamburgerButtons:before {
  content:url('http://assets.epicurious.com/photos/57c5c6d9cf9e9ad43de2d96e/master/pass/the-ultimate-hamburger.jpg');
  display: block;
  height: 80px;
  width: 80px;
  position: absolute;
}

button:hover {
  color: red;
  background-color: grey;
}

button:active {
  background-color: yellow;
}

.loginButton {
z-index: 15;
position: absolute;
}

.signUpButton {
z-index: 15;
position: absolute;
}

.loginForm {
  z-index: 15;
  position: absolute;
}

.signUpButton2 {
  z-index: 14;
  position: absolute;
}
