.icon-menu{
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

button:hover {
  color: red;
  background-color: grey;
}

button:active {
  background-color: yellow;
}

.loginButton {
z-index: 15;
position: absolute;
}

.signUpButton {
z-index: 15;
position: absolute;
}

.loginForm {
  z-index: 15;
  position: absolute;
}

.signUpButton2 {
  z-index: 14;
  position: absolute;
}
